@import url('http://fonts.cdnfonts.com/css/vegan-style-personal-use');


.principe {
    font-family: 'vegan style personal use';
    color: #FF4C13;
    font-size:125%
    }

    .fab {
        color: #000;
    }