@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.padre{
    background-color: #FF906D;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: nunito;
}
.formulario{
    border-radius: 10px;
    width: 40%;
    min-width: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: nunito;
}
.tit-pagar{
    font-size: 20px;
}
.info-pago{
    width: 100%;
    margin: 3% 0 3% 0;
}
.content-form{
    width: 80%;
    text-align: left;
    margin: 1%;
}
.label-input{
    display: inline-block;
    width: 100%;
}
.label-cvv{
    width: 50%;
}
.input{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 5%;
    padding: 1%;
}
.label-ingresar{
    text-align: center;
    margin-top: 3%;
}
.btn-submit{
    width: 40%;
    max-width: 100px;
    min-width: 50px; 
    display: inline-block;
    border-radius: 5px;
    border: 0px;
    background-color: #4276FB;
    padding: 2%;
}
.header-form{
    width: 100%;
    text-align: center;
}
.header-form img{    
    display: inline-block;
    box-sizing: border-box;
}
.text-pagar{
    font-size: 0.9rem;
}
.fecha{
    width: 50%;
    box-sizing: content-box;
    float: left;
}
.input-cvv{
    width: 50%;
}