* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

header .header-container {
  padding: 10px;
  width: auto;
  margin: 25px 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
}

header .header-container .boton-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .boton-container .shop-descripcion {
  margin: 0 32px;
  font-size: 24px;
  line-height: 32px;
  color: #1D1D1D;
}

header .header-container .boton-container .collections-descripcion {
  font-size: 24px;
  line-height: 32px;
  color: #1D1D1D;
}

header .header-container .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .icons-container .perfil-icon {
  margin: 0 24px;
}

main {
  margin: 0 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .col-1 {
  margin-right: 24px;
}

main .col-2 {
  margin-right: 56px;
  width: 616px;
}

main .col-2 img {
  margin-bottom: 24px;
}

main .col-3 {
  width: 424px;
  height: auto;
}

main .col-3 .col-3-title h1 {
  font-size: 4.8rem;
  line-height: 56px;
  letter-spacing: -2%;
  font-weight: bold;
  color: #1D1D1D;
}

main .col-3 .col-3-title p {
  margin-top: 16px;
  font-size: 3rem;
  line-height: 40px;
  font-weight: bold;
  color: #1D1D1D;
}

main .size {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .size p {
  font-size: 2rem;
  line-height: 24px;
  color: #1D1D1D;
  font-weight: bold;
}

main .size .tallas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

main .size .tallas div {
  margin-right: 32px;
  font-weight: bold;
  font-size: 2rem;
  line-height: 24px;
}

main .botones_compra {
  width: 100%;
  margin-top: 40px;
}

main .botones_compra .add_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1D1D1D;
  color: #fff;
  width: 424px;
  height: 56px;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 24px;
  border-radius: 4px;
}

main .botones_compra .buy_now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  background-color: #4276FB;
  color: #fff;
  width: 424px;
  height: 56px;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 24px;
  border-radius: 4px;
}

main .size-description {
  margin-top: 40px;
  text-align: justify;
  line-height: 32px;
  font-size: 1.8rem;
  font-weight: bold;
}

main .size-description div {
  margin-top: 40px;
}

main .size-description div a {
  color: #1D1D1D;
  line-height: 3.2rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.publicidad {
  margin-top: 250px;
}

.publicidad .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 80px;
}

.publicidad .products h2 {
  line-height: 80px;
  font-size: 7.5rem;
  font-weight: bold;
}

.publicidad .publicidad-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-left: 183px;
  margin-right: 151px;
}

.publicidad .publicidad-cards-container .cards-col-1, .publicidad .publicidad-cards-container .cards-col-2, .publicidad .publicidad-cards-container .cards-col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 56px;
}

.publicidad .publicidad-cards-container .cards-col-1 .card-col-2-description, .publicidad .publicidad-cards-container .cards-col-2 .card-col-2-description, .publicidad .publicidad-cards-container .cards-col-3 .card-col-2-description {
  margin-top: 24px;
  font-size: 2.4rem;
  line-height: 32px;
  font-weight: bold;
}

.publicidad .publicidad-cards-container .cards-col-1 .card-col-2-description .card-col-1-precio, .publicidad .publicidad-cards-container .cards-col-2 .card-col-2-description .card-col-1-precio, .publicidad .publicidad-cards-container .cards-col-3 .card-col-2-description .card-col-1-precio {
  margin-top: 24px;
  text-align: center;
}

.footer-container {
  margin-top: 250px;
}

.footer-container .flesh-container {
  width: 100%;
  height: 806px;
  background-image: url("/PrincipeFresco/assets/img/cover.png");
}

.footer-container .redes-container {
  width: 100%;
  height: 320px;
  background-color: #1D1D1D;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .redes-container .flesh-logo {
  width: 399px;
  height: 80px;
  background-image: url("/PrincipeFresco/assets/img/logo-fresh.png");
}

.footer-container .redes-container .flesh-icons {
  margin-top: 48px;
  width: 152px;
  height: 64px;
  background-image: url("/PrincipeFresco/assets/img/Frame 24.png");
}
/*# sourceMappingURL=style.css.map */